AudiControl/.vs/
AudiControl/__vm/
AudiControl/.vscode/
AudiControl/Release/
AudiControlUnitTest/Release/
*.user
aux-heater-test/.vs/
aux-heater-test/Debug/
aux-heater-test/Release/
aux-heater-test/packages/
