*.user
aux-heater-test/.vs/
aux-heater-test/Debug/
aux-heater-test/Release/
aux-heater-test/packages/
aux-heater-test/build/
*.pdb
*.hex
mvsc-gtest/.vs/
mvsc-gtest/Debug/
mvsc-gtest/packages/
build/
aux-heater/.DS_Store/
aux-heater/.pio/
aux-heater/test/
*.DS_Store
